[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "~=4.9.1"
codalib = {git = 'https://github.com/unt-libraries/codalib', editable = true}
sqlparse = "*"
mysqlclient = "~=2.0.1"
Django = "~=4.2.0"

[dev-packages]
django-debug-toolbar = "~=3.8.0"
tox = ">=3.13.0"
pytest-django = ">=3.4.6"
factory-boy = "==2.5.2"
"flake8" = "*"

[requires]
python_version = "3.9"
