{% extends "premis_event_service/base.html" %}
{% block head-extra %}
<meta charset="utf-8" />
    <script>
        $(function() {
            $( "#startdatepicker" ).datepicker();
            $( "#enddatepicker" ).datepicker();
        });
    </script>
{% endblock %}
{% block content %}
{% load humanize %}
<form action = "./" class="pagination-centered well" method="get">
    <div class="control-group">
        <div class="input-prepend">
            <span class='add-on'>{{ search_form.event_outcome.label }}</span>
            {{ search_form.event_outcome }}
        </div>
        <div class="input-prepend">
            <span class='add-on'>{{ search_form.event_type.label|title }}</span>
            {{ search_form.event_type }}
        </div>
        {{ search_form.start_date }}
        {{ search_form.end_date }}
        <div class="input-append">
            {{ search_form.linked_object_id }}
            <button class="btn btn-primary">Search Events</button>
        </div>

    </div>
</form>
<!-- If we have entries, iterate and display them -->
{% if events %}
    <table id="data" class="table table-striped table-hover">
        <thead><tr>
            <th>
                Identifier
            </th>
            <th>
                Event Date
            </th>
            <th>
                Event Type
            </th>
            <th>
                Linked Object(s)
            </th>
            <th>
                Outcome
            </th>
        </tr></thead>
        <!-- iterate through search results and display if not suppressed / deleted -->
        {% for event in events %}
            <tr>
                <td>
                    <i class="icon-tag"></i> <a href='http://{{ request.META.HTTP_HOST }}/event/{{ event.event_identifier }}'>{{ event.event_identifier }}</a>
                </td>
                <td>
                    <i class="icon-calendar"></i> {{ event.event_date_time }}
                </td>
                <td>
                    <i class="icon-asterisk"></i> {{ event.event_type }}
                </td>
                <td>
                    {% for lo in event.linking_objects.all %}<i class="icon-link"></i> <a href='http://{{ request.META.HTTP_HOST }}/bag/{{ lo.object_identifier }}'>{{ lo.object_identifier }}</a>{% endfor %}
                </td>
                <td>
                    <span title="{{ event.event_outcome }}" class="disabled btn btn-block btn-mini btn-{{ event.is_good|yesno:"success,danger" }}">{{ event.event_outcome|slice:"53:" }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if page_range %}
    <div class="pagination pagination-centered">
        <ul>
            {% if page != 1 %}
                <li><a href="?page=1&amp;event_outcome={{ request.GET.event_outcome|urlencode }}&amp;event_type={{ request.GET.event_type|urlencode }}&amp;start_date={{ request.GET.start_date|urlencode }}&amp;end_date={{ request.GET.end_date|urlencode }}&amp;linked_object_id={{ request.GET.linked_object_id|urlencode }}">first</a></li>
            {% else %}
                <li class="disabled"><span>first</span></li>
            {% endif %}

            {% if page > 1 %}
            <li><a href="?page={{ previous_page }}&amp;event_outcome={{ request.GET.event_outcome|urlencode }}&amp;event_type={{ request.GET.event_type|urlencode }}&amp;start_date={{ request.GET.start_date|urlencode }}&amp;end_date={{ request.GET.end_date|urlencode }}&amp;linked_object_id={{ request.GET.linked_object_id|urlencode }}&amp;min_ordinal={{ prev_page_ord }}">prev</a></li>
            {% else %}
                <li class="disabled"><span>prev</span></li>
            {% endif %}

            {% for thispage, page_min_ord in page_offsets %}
                {% if page == thispage %}
                    <li class="disabled"><span>{{ thispage }}</span></li>

                {% else %}
                    <li>
                        <a href="?page={{ thispage }}&amp;event_outcome={{ request.GET.event_outcome|urlencode }}&amp;event_type={{ request.GET.event_type|urlencode }}&amp;start_date={{ request.GET.start_date|urlencode }}&amp;end_date={{ request.GET.end_date|urlencode }}&amp;linked_object_id={{ request.GET.linked_object_id|urlencode }}&amp;min_ordinal={{ page_min_ord }}">
                            {{ thispage }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page < max_page %}
            <li><a href="?page={{ next_page }}&amp;event_outcome={{ request.GET.event_outcome|urlencode }}&amp;event_type={{ request.GET.event_type|urlencode }}&amp;start_date={{ request.GET.start_date|urlencode }}&amp;end_date={{ request.GET.end_date|urlencode }}&amp;linked_object_id={{ request.GET.linked_object_id|urlencode }}&amp;min_ordinal={{ next_page_ord }}">next</a></li>
            {% else %}
                <li class="disabled"><span>next</span></li>
            {% endif %}

            {% if page != max_page %}
            <li><a href="?page={{ max_page }}&amp;event_outcome={{ request.GET.event_outcome|urlencode }}&amp;event_type={{ request.GET.event_type|urlencode }}&amp;start_date={{ request.GET.start_date|urlencode }}&amp;end_date={{ request.GET.end_date|urlencode }}&amp;linked_object_id={{ request.GET.linked_object_id|urlencode }}&amp;min_ordinal={{ last_page_ordinal }}">last</a></li>
            {% else %}
                <li class="disabled"><span>last</span></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endblock %}
